<?xml version="1.0" ?>
<robot name="drivetrain" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ob1_base_description)/urdf/drivetrain_specs/drivetrain_specs.urdf"/>
  <xacro:include filename="$(find ob1_base_description)/urdf/ob1_base.gazebo.xacro"/>
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.010" rpy="0 0 0"/>
  </joint>

  <link name="base_scan"/>

  <xacro:sensor_d435 name="camera" topics_ns="camera" parent="base_scan" publish_pointcloud="true">
    <origin xyz="0 0 0" rpy="1.57079632679 -1.57079632679 0" />
  </xacro:sensor_d435>

  <joint name="scan_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_scan"/>
    <origin xyz="0.275 0 0.41" rpy="1.57 0 1.57"/>
  </joint>
</robot>